{% macro restoran_nav_card() %}
<div class="card nav-card">
  <a href="{{ url_for('restoran_routes.get_restorani') }}">Restorani</a>
  <a href="{{ url_for('restoran_routes.get_restoran_with_least_revenue') }}"
    >Restoran koji ima najmanje na računu
  </a>
  <a
    href="{{ url_for('restoran_routes.get_restoran_with_zaposlenik_pay_data') }}"
  >
    Restorani sa podacima o plaćama zaposlenika
  </a>
  <a href="{{ url_for('restoran_routes.get_restoran_average_employee_pay')}}">
    Restorani s prosječnom plaćom zaposlenika</a
  >
</div>
{% endmacro %}
