{% macro rezervacija_nav_card() %}
<div class="card nav-card">
  <a href="{{ url_for('rezervacija_routes.get_rezervacije') }}">Rezervacije</a>
  <a
    href="{{ url_for('rezervacija_routes.get_rezervacija_by_location_with_count') }}"
    >Rezervacije po lokaciji s brojem</a
  >
  <a href="{{ url_for('rezervacija_routes.get_rezervacija_with_stol_data')}}"
    >Rezervacije s podacima o stolu</a
  >
  <a
    href="{{ url_for('rezervacija_routes.get_rezervacija_count_by_stol_location')}}"
    >Broj rezervacija po lokaciji stola
  </a>
</div>
{% endmacro %}
