{% import 'components/buttons/add_item_button.html' as add_item_button %} {%
import 'components/buttons/view_item_button.html' as view_item_button %} {%
import 'components/buttons/delete_item_button.html' as delete_item_button %} {%
extends "index.html" %} {% block content %}
<div class="card">
  {{ add_item_button.add_item_button_link('narudzba_routes.create_narudzba',
  'Dodaj narudžbu') }}
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Skladište</th>
        <th>Naziv</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv_restoran }}: {{ datapoint.skladiste_id }}</td>
        <td>{{ datapoint.naziv }}</td>
        <td>{{ datapoint.status_narudzbe }}</td>
        <td class="button-cell">
          <div class="button-group">
            {{
            view_item_button.view_item_button_link('narudzba_routes.get_narudzba',
            datapoint.id, 'Pregledaj') }} {% if datapoint.status_narudzbe ==
            "NERIJESENO" %} {{
            delete_item_button.delete_item_button_form('narudzba_routes.delete_narudzba',
            datapoint.id, 'Obriši narudžbu') }} {% endif %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
