{% extends "index.html" %} {% import 'components/buttons/view_item_button.html'
as view_item_button %} {% block content %}
<h2>Ažuriraj stavku:</h2>
<div class="single-item-buttons card">
  {{ view_item_button.view_item_button_link('stavka_routes.get_stavka', data.id,
  'Odustani') }}
</div>
<div class="card">
  <form
    class="update-form"
    action="{{url_for('stavka_routes.updated_stavka', id=data.id)}}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% if data.slika %}
    <div class="image-container-single">
      <img
        src="data:image/jpeg;base64,{{ data.slika }}"
        alt="Zaposlenik Slika"
      />
    </div>
    {% else %}
    <p>No image available</p>
    {% endif %}
    <div class="form-input-group">
      <label for="slika">Slika:</label>
      <input type="file" name="slika" id="slika" />
    </div>
    <div class="form-input-group">
      <label for="restoran_id">Restoran:</label>
      <select
        name="restoran_id"
        id="restoran_id"
        required
        value="{{data.restoran_id}}"
      >
        {% for restoran in restorani %}
        <option value="{{restoran.id}}">{{restoran.naziv}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-input-group">
      <label for="recept_id">Recept:</label>
      <select
        name="recept_id"
        id="recept_id"
        required
        value="{{data.recept_id}}"
      >
        {% for recept in recepti %}
        <option value="{{recept.id}}">{{recept.naziv}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-input-group">
      <label for="naziv">Naziv:</label>
      <input
        type="text"
        name="naziv"
        id="naziv"
        required
        value="{{data.naziv}}"
      />
    </div>
    <div class="form-input-group">
      <label for="stavka_tip">Tip:</label>
      <select
        name="stavka_tip"
        id="stavka_tip"
        value="{{data.stavka_tip}}"
        required
      >
        {% for tip in tipovi %}
        <option value="{{tip}}">{{tip}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-input-group">
      <label for="cijena">Cijena:</label>
      <input
        type="number"
        step="0.01"
        min="0.01"
        name="cijena"
        id="cijena"
        required
        value="{{data.cijena}}"
      />
    </div>
    <div class="form-input-group">
      <label for="opis">Opis:</label>
      <textarea name="opis" id="opis" required>{{data.opis}}</textarea>
    </div>
    <div class="form-input-group">
      <span></span>
      <input type="submit" value="Ažuriraj stavku" />
    </div>
  </form>
</div>
{% endblock %}
