{% extends "index.html" %} {% import
'components/nav-cards/mala_nezgoda_nav_card.html' as nav_card %} {% block
content %} {{ nav_card.mala_nezgoda_nav_card() }}
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Naziv restorana</th>
        <th>Ukupno malih nezgoda</th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv_restoran }}</td>
        <td>{{ datapoint.ukupno }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
