{% extends "index.html" %} {% block content %} {% import
'components/buttons/delete_item_button.html' as delete_item_button %}
<h2>Detalji skladista:</h2>
<div class="single-item-buttons card">
  {% import 'components/buttons/update_item_button.html' as update_item_button
  %} {{
  delete_item_button.delete_item_button_form('skladiste_routes.delete_skladiste',
  data.id, 'Obriši skladište') }} {{
  update_item_button.update_item_button_link('skladiste_routes.update_skladiste',
  data.id, 'Ažuriraj skladište') }}
</div>
<div class="card">
  <div class="single-item-details">
    <div class="details-item">
      <label>ID:</label>
      <span>{{data.id}}</span>
    </div>
    <div class="details-item">
      <label>NAZIV RESTORANA:</label>
      <span>{{data.naziv}}</span>
    </div>
    <div class="details-item">
      <label>STANJE:</label>
      <span>{{data.stanje}}</span>
    </div>
  </div>
</div>
{% endblock %}
