{% extends "index.html" %}{% import
'components/nav-cards/sastojak_nav_card.html' as nav_card %} {% block content %}
{{ nav_card.sastojak_nav_card() }}
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Ukupna količina</th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv }}</td>
        <td>{{ datapoint.ukupna_kolicina }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
