{% import 'components/buttons/add_item_button.html' as add_item_button %} {%
import 'components/buttons/view_item_button.html' as view_item_button %} {%
import 'components/buttons/delete_item_button.html' as delete_item_button %} {%
extends "index.html" %} {% block content %}
<div class="card">
  {{ add_item_button.add_item_button_link('sastojak_routes.create_sastojak',
  'Dodaj sastojak') }}
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Skladište</th>
        <th>Naziv</th>
        <th>Cijena</th>
        <th>Tip količine</th>
        <th>Trenutna količina</th>
        <th>Potrebna količina</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td class="image-cell">
          <div class="table-image-wrapper">
            <img
              src="data:image/jpeg;base64,{{ datapoint.slika }}"
              alt="Sastojak Slika"
              width="25"
              height="25"
            />
          </div>
        </td>
        <td>{{ datapoint.naziv_restorana }}: {{ datapoint.skladiste_id }}</td>
        <td>{{ datapoint.naziv }}</td>
        <td>{{ datapoint.cijena }}</td>
        <td>{{ datapoint.kolicina_tip }}</td>
        <td>{{ datapoint.trenutna_kolicina }}</td>
        <td>{{ datapoint.potrebna_kolicina }}</td>
        <td class="button-cell">
          <div class="button-group">
            {{
            view_item_button.view_item_button_link('sastojak_routes.get_sastojak',
            datapoint.id, 'Pregledaj') }} {{
            delete_item_button.delete_item_button_form('sastojak_routes.delete_sastojak',
            datapoint.id, 'Obriši') }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
