{% import 'components/buttons/add_item_button.html' as add_item_button %} {%
import 'components/buttons/view_item_button.html' as view_item_button %} {%
import 'components/buttons/delete_item_button.html' as delete_item_button %} {%
extends "index.html" %} {% block content %}
<div class="card nav-card">
  <a href="{{url_for('sastojak_routes.get_sastojci')}}">Sastojci</a>
  <a href="{{url_for('sastojak_routes.get_sastojak_ukupna_kolicina')}}"
    >Ukupni količina sastojaka</a
  >
</div>
<div class="card">
  {{ add_item_button.add_item_button_link('sastojak_routes.create_sastojak',
  'Dodaj sastojak') }}
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Naziv</th>
        <th>Ukupna količina</th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv }}</td>
        <td>{{ datapoint.ukupna_kolicina }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
