{% extends "index.html" %} {% block content %} {% import
'components/buttons/view_item_button.html' as view_item_button %} {% import
'components/buttons/delete_item_button.html' as delete_item_button %}
<h2>Detalji zaposlenika:</h2>
<div class="single-item-buttons card">
  {% import 'components/buttons/update_item_button.html' as update_item_button
  %} {{
  delete_item_button.delete_item_button_form('zaposlenik_routes.delete_zaposlenik',
  data.id, 'Obriši zaposlenika') }} {{
  update_item_button.update_item_button_link('zaposlenik_routes.update_zaposlenik',
  data.id, 'Ažuriraj zaposlenika') }}
</div>
<div class="card">
  <div class="single-item-details">
    <div class="image-container-single">
      {% if data.slika %}
      <img
        src="data:image/jpeg;base64,{{ data.slika }}"
        alt="Zaposlenik Slika"
      />
      {% else %}
      <p>No image available</p>
      {% endif %}
    </div>
    <div class="details-item">
      <label>ID:</label>
      <span>{{data.id}}</span>
    </div>
    <div class="details-item">
      <label>IME:</label>
      <span>{{data.ime}}</span>
    </div>
    <div class="details-item">
      <label>PREZIME:</label>
      <span>{{data.prezime}}</span>
    </div>
    <div class="details-item">
      <label>EMAIL:</label>
      <span>{{data.email}}</span>
    </div>
    <div class="details-item">
      <label>DATUM ROĐENJA:</label>
      <span>{{data.datum_rodenja}}</span>
    </div>
    <div class="details-item">
      <label>IZNOS PLAĆE:</label>
      <span>{{data.iznos_place}}</span>
    </div>
  </div>
</div>
<h2>Računi:</h2>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Broj stola</th>
        <th>Broj računa</th>
        <th>Napojnica</th>
        <th>Iznos</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for racun in racuni %}
      <tr>
        <td>{{ racun.broj_stola }}</td>
        <td>{{ racun.broj_racuna }}</td>
        <td>{{ racun.napojnica }}</td>
        <td>{{ racun.iznos }}</td>
        <td class="button-cell">
          <div class="button-group">
            {{ view_item_button.view_item_button_link('racun_routes.get_racun',
            racun.id, 'Pregledaj') }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
