{% import 'components/buttons/add_item_button.html' as add_item_button %} {%
import 'components/buttons/view_item_button.html' as view_item_button %} {%
import 'components/buttons/delete_item_button.html' as delete_item_button %} {%
extends "index.html" %} {% block content %}
<div class="card">
  {{
  add_item_button.add_item_button_link('rezervacija_routes.create_rezervacija',
  'Dodaj rezervaciju') }}
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Naziv restorana</th>
        <th>Broj stola</th>
        <th>Broj mjesta stola</th>
        <th>Ime</th>
        <th>Vrijeme</th>
        <th>Broj osoba</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv_restoran }}</td>
        <td>{{ datapoint.broj_stola }}</td>
        <td>{{ datapoint.broj_mjesta_stola }}</td>
        <td>{{ datapoint.ime }}</td>
        <td>{{ datapoint.vrijeme }}</td>
        <td>{{ datapoint.broj_osoba }}</td>
        <td class="button-cell">
          <div class="button-group">
            {{
            view_item_button.view_item_button_link('rezervacija_routes.get_rezervacija',
            datapoint.id, 'Pregledaj') }} {{
            delete_item_button.delete_item_button_form('rezervacija_routes.delete_rezervacija',
            datapoint.id, 'Obriši') }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
