{% extends "index.html" %} {% import
'components/nav-cards/rezervacija_nav_card.html' as nav_card %} {% block content
%} {{ nav_card.rezervacija_nav_card() }}
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Lokacija stola</th>
        <th>Broj rezervacija</th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.lokacija_stola }}</td>
        <td>{{ datapoint.broj_rezervacija }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
