{% extends "index.html" %} {% block content %}
<h2>Dodaj recept:</h2>
<div class="card">
  <a href="{{url_for('recept_routes.get_recepti')}}">Odustani</a>
</div>
<div class="card">
  <form
    class="create-form"
    action="{{url_for('recept_routes.created_recept')}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="form-input-group">
      <label for="restoran_id">Restoran:</label>
      <select
        name="restoran_id"
        id="restoran_id"
        required
        {%
        if
        restorani|length
      >
        0 %} value="{{restorani[0].id}}" {% endif %} > {% for restoran in
        restorani %}
        <option value="{{restoran.id}}">{{restoran.naziv}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-input-group">
      <label for="naziv">Naziv:</label>
      <input type="text" name="naziv" id="naziv" required />
    </div>
    <div class="form-input-group">
      <label for="upute">Upute:</label>
      <textarea name="upute" id="upute" required></textarea>
    </div>
    <div class="form-input-group">
      <span></span>
      <input type="submit" value="Dodaj recept" />
    </div>
  </form>
</div>
{% endblock %}
