{% import 'components/buttons/add_item_button.html' as add_item_button %} {%
import 'components/buttons/view_item_button.html' as view_item_button %} {%
import 'components/buttons/delete_item_button.html' as delete_item_button %} {%
extends "index.html" %} {% block content %}
<div class="card nav-card">
  <a href="{{url_for('recept_routes.get_recepti')}}">Recepti</a>
  <a href="{{url_for('recept_routes.get_recept_ukupni_prihod')}}"
    >Ukupni prihodi recepta</a
  >
</div>
<div class="card">
  {{ add_item_button.add_item_button_link('recept_routes.create_recept', 'Dodaj
  recept') }}
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Naziv restorana</th>
        <th>Ukupni prihod</th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv }}</td>
        <td>{{ datapoint.ukupni_prihod }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
