{% extends "index.html" %} {% import 'components/buttons/view_item_button.html'
as view_item_button %} {% block content %}
<h2>Ažuriraj recept:</h2>
<div class="single-item-buttons card">
  {{ view_item_button.view_item_button_link('recept_routes.get_recept', data.id,
  'Odustani') }}
</div>
<div class="card">
  <form
    class="update-form"
    action="{{url_for('recept_routes.updated_recept', id=data.id)}}"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="form-input-group">
      <label for="restoran_id">Restoran:</label>
      <select
        name="restoran_id"
        id="restoran_id"
        required
        value="{{
        data.restoran_id}}"
      >
        {% for restoran in restorani %}
        <option value="{{restoran.id}}">{{restoran.naziv}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-input-group">
      <label for="naziv">Naziv:</label>
      <input
        type="text"
        name="naziv"
        id="naziv"
        required
        value="{{ data.naziv }}"
      />
    </div>
    <div class="form-input-group">
      <label for="upute">Upute:</label>
      <textarea name="upute" id="upute" required>{{ data.upute }}</textarea>
    </div>
    <h3>Sastojci:</h3>
    {% for sastojak in sastojci %}
    <div class="form-input-group sastojak-input">
      <label for="sastojak_{{sastojak.id}}">{{sastojak.naziv}}</label>
      <input type="number" step="1" {% set sastojak_recepta =
      sastojci_recepta|selectattr('id', 'equalto', sastojak.id)|first %}
      value="{{ sastojak_recepta.kolicina if sastojak_recepta else 0 }}"
      name="sastojak_{{sastojak.id}}" id="sastojak_{{sastojak.id}}" required />
      <span> {{ sastojak.kolicina_tip }} </span>
    </div>
    {% endfor %}
    <div class="form-input-group">
      <span></span>
      <input type="submit" value="Ažuriraj recept" />
    </div>
  </form>
</div>
{% endblock %}
