{% block navbar %} {% from "components/sidebar/nav_link.html" import nav_link
with context %}
<nav class="navbar">
  <ul class="nav" id="navId">
    {{ nav_link('app_routes.get_index', 'Home') }} {{
    nav_link('app_routes.get_login', 'Login') }} {{
    nav_link('zaposlenik_routes.get_zaposlenici', 'Zaposlenici') }} {{
    nav_link('zaposlenik_placa_routes.get_zaposlenik_place_months', 'Plaće') }}
    {{ nav_link('restoran_routes.get_restorani', 'Restorani') }} {{
    nav_link('skladiste_routes.get_skladista', 'Skladišta') }}{{
    nav_link('restoran_racun_routes.get_restoran_racuni', 'Restoranski računi')
    }} {{ nav_link('transakcija_restoran_routes.get_transakcije_restorana',
    'Transakcije restorana') }} {{
    nav_link('transakcija_zaposlenik_routes.get_transakcije_zaposlenika',
    'Transakcije zaposlenika') }} {{ nav_link('trosak_routes.get_troskovi',
    'Troškovi') }} {{ nav_link('stol_routes.get_stolovi', 'Stolovi') }} {{
    nav_link('rezervacija_routes.get_rezervacije', 'Rezervacije') }} {{
    nav_link('racun_routes.get_racuni', 'Računi') }} {{
    nav_link('recept_routes.get_recepti', 'Recepti') }} {{
    nav_link('stavka_routes.get_stavke', 'Stavke') }} {{
    nav_link('jelovnik_routes.get_jelovnici', 'Jelovnici') }} {{
    nav_link('sastojak_routes.get_sastojci', 'Sastojci') }} {{
    nav_link('narudzba_routes.get_narudzbe', 'Narudžbe') }} {{
    nav_link('mala_nezgoda_routes.get_male_nezgode', 'Male nezgode') }} {{
    nav_link('velika_nezgoda_routes.get_velike_nezgode', 'Velike nezgode') }}
  </ul>
</nav>
{% endblock navbar %}
