{% import 'components/buttons/add_item_button.html' as add_item_button %} {%
import 'components/buttons/view_item_button.html' as view_item_button %} {%
import 'components/buttons/delete_item_button.html' as delete_item_button %} {%
extends "index.html" %} {% block content %}
<div class="card">
  {{ add_item_button.add_item_button_link('jelovnik_routes.create_jelovnik',
  'Dodaj jelovnik') }}
</div>
<div class="card">
  <table>
    <thead>
      <tr>
        <th>Naziv restorana</th>
        <th>Naziv jelovnika</th>
        <th>Tip jelovnika</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for datapoint in data %}
      <tr>
        <td>{{ datapoint.naziv_restoran }}</td>
        <td>{{ datapoint.naziv }}</td>
        <td>{{ datapoint.jelovnik_tip }}</td>
        <td class="button-cell">
          <div class="button-group">
            {{
            view_item_button.view_item_button_link('jelovnik_routes.get_jelovnik',
            datapoint.id, 'Pregledaj') }} {{
            delete_item_button.delete_item_button_form('jelovnik_routes.delete_jelovnik',
            datapoint.id, 'Obriši') }}
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
