{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Management System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/scripts.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div>
      {% include 'components/sidebar.html' %}
      <div>{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
